<div>
    <div>{{ errorMessage }} <br></div>
  <div #ThemeDetailsHeader *ngIf="theme">
        <span *ngIf="section">Section: <a routerLink="/section/{{sectionId}}"> "{{section.SectionName}}"</a> </span><br>
        <span>Theme: "{{theme.ThemeName}}"</span><br>
        <!-- <span>{{theme.CreateDate.toISOString().split("T")[0] + " " +theme.CreateDate.toLocaleTimeString().split(' ')[0]}}</span><br> -->
  </div>
  <div *ngIf="messgages">
      Messages: <br><br>
      <div>
          <div *ngFor="let m of messgages">
              <div class="messageContainer">
                <div class="messageHeader">
                    <span>Author: {{m.Author}} </span><br>
                    <span>{{m.CreateDate.toISOString().split("T")[0] + " " +m.CreateDate.toLocaleTimeString().split(' ')[0]}}</span> <br>
                </div>
                <div>
                    {{m.MessageBody}}
                </div>
              </div><br>
          </div>
      </div>
  </div>
  <div *ngIf="authenticationService.isAuthenticated()">
      <a routerLink="{{currentUrl}}/newMessage">Create new Message</a>
  </div>
</div>
