<div>
  Create new account: <br>
  <label> Name: <input #usernameInput type="email"> </label> <br>
  <label> Email: <input #useremailInput type="email"> </label> <br>
  <label> Password: <input #passwordInput type="password"> </label> <br>
  <label> Repeat Password: <input #passwordConfirmInput type="password"> </label> <br>
  <div #registrationResultMessageContainer>{{registrationResultMessage}} <br></div>
  <div #registrationErrors *ngIf="registrationErrorMessages">
    Error list:
    <ul>
      <li *ngFor="let errorlistnamevaluepair of generateArray(registrationErrorMessages)"> 
        {{errorlistnamevaluepair.name}}
        <ul>
          <li *ngFor="let singleerror of errorlistnamevaluepair.value">{{singleerror}}</li>
        </ul>
      </li>
    </ul>
    </div>
  <input type="button" value="Create Account" (click)="SendRegistrationdata(usernameInput.value,useremailInput.value,passwordInput.value,passwordConfirmInput.value)"> <br>
</div>