<div>
  <span *ngIf="section">Section: "{{section.SectionName}}" </span><br>
  Themes:
  <div>{{errorMessage}} <br></div>
  <ul>
    <li *ngFor="let theme of themes"> <a routerLink="/section/{{sectionId}}/theme/{{theme.ThemeId}}">"{{theme.ThemeName}}"</a>   (Create Date: {{theme.CreateDate.toISOString().split("T")[0] + " " +theme.CreateDate.toLocaleTimeString().split(' ')[0]}})</li>
  </ul>
  <div *ngIf="authenticationService.isAuthenticated()">
      <a routerLink="{{currentUrl}}/newTheme">Create new Theme</a>
  </div>
</div>
