<div>
    Here you can delete section, rename section etc ... <br>
    <div *ngIf="section">
      <table>
        <tr>
          <th colspan="2">Current information about section: </th>
        </tr>
        <tr>
          <td>Id: </td>
          <td>{{section.Id}}</td>
        </tr>
  
        <tr>
          <td>Create Date: </td>
          <td>{{DatetoString(section.CreateDate)}}</td>
        </tr>
        <tr>
          <td>Section Name:</td>
          <td>{{section.Title}}</td>
        </tr>
      </table> 
      <br>
      <div>
        Actions: <br>
        <div>
            Renaming section: <br>
            <label> New Name:  <input type="text" #NewSectionNameInput placeholder="New section Name"> </label><br>
            <button type="button" (click)="renameSectionClick()">Rename section</button><br>
            <br>
          </div>
        <div>
          Deleting section: <br>
          Be careful when deleting section, all themes and messages in that section will be deleted <br>
          <button type="button" (click)="deleteSection()">Delete section</button><br>
          <br>
        </div>
      </div>
    </div>
    <div>
      {{errorMessage}}
    </div>
    <div #Errors *ngIf="errorMessages">
      Error list:
      <ul>
        <li *ngFor="let errorlistnamevaluepair of generateErrorMessagesArray(errorMessages)">
          {{errorlistnamevaluepair.name}}
          <ul>
            <li *ngFor="let singleerror of errorlistnamevaluepair.value">{{singleerror}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>